body{
      font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

/* COlors */
.primary-color{
    color: #fd6e0a;
}
.dark-2{
    color: #474747;
}
/* Buttons */
.btn-primary{
    background-color: #fd6e0a;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}


/* header */
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: Flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-size: 20px;
}


/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 150px;
}
.left{
    max-width: 580px;
}
.banner_sub_heading{
    font-size: 45px;
    font-weight: 600;
    margin-top: 200px;
}
.headinh{
    font-size: 85px;
    font-weight: 800;
}
.banner-description{
    font-size: 18px;;
}
.profile_pic_banner{
    width: 580px;;
}
.buttons{
    margin-top:20px
}